Repository CameronWeller/3DGameOfLife-Vulkan-Edition: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, validate-shaders, check-include-guards, check-cmake-practices, check-copyright, validate-vcpkg, check-vulkan-patterns, check-docs-sync

check-todos:
  name: Check for TODO/FIXME comments
  entry: scripts/pre-commit/check-todos.sh
  language: script

validate-shaders:
  name: Validate GLSL shaders
  entry: scripts/pre-commit/validate-shaders.sh
  language: script
  pass_filenames: true

check-include-guards:
  name: Check C++ include guards
  entry: scripts/pre-commit/check-include-guards.sh
  language: script

check-cmake-practices:
  name: Check CMake best practices
  entry: scripts/pre-commit/check-cmake.sh
  language: script

check-copyright:
  name: Check copyright headers
  entry: scripts/pre-commit/check-copyright.sh
  language: script

validate-vcpkg:
  name: Validate vcpkg.json
  entry: scripts/pre-commit/validate-vcpkg.sh
  language: script

check-vulkan-patterns:
  name: Check Vulkan API patterns
  entry: scripts/pre-commit/check-vulkan-patterns.sh
  language: script

check-docs-sync:
  name: Check documentation sync
  entry: scripts/pre-commit/check-docs-sync.sh
  language: script

docs: rewrite README with Game of Life theory, GIFs, controls and build guide
  CONTRIBUTING.md
  README.md
  docs/media/conway-glider-gun.gif
  docs/media/conway-glider.gif
  docs/media/conway-oscillators.gif
  docs/media/conway-rules.gif
  docs/media/conway-soup.gif
  docs/media/hero-life5766.gif
  docs/media/menu-inventory.png
  docs/media/menu-pause.png
  docs/media/menu-settings.png
  docs/media/neighborhoods.png
  docs/media/rules-compared.gif
  docs/media/sandbox-build.gif
  scripts/readme-media/__pycache__/capture_3d.cpython-314.pyc
  scripts/readme-media/__pycache__/make_2d_media.cpython-314.pyc
  scripts/readme-media/capture_3d.py
  scripts/readme-media/make_2d_media.py
Due: check-docs-sync

ci: replace retired GitHub Actions versions
  .github/workflows/beta-build.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Remove CI for the old engine
  .github/workflows/beta-build.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/sparse-grid.yml
Due: none

feat: give the menus their own look instead of Minecraft's
  include/MenuFont.h
  packaging/arch/PKGBUILD
  packaging/licenses/Karla-OFL.txt
  prototype/CMakeLists.txt
  shaders/life3d_screen.frag
  src/main_minimal.cpp
  src/tutorial/Tutorial.cpp
Due: check-todos, validate-shaders, check-cmake-practices, check-copyright

docs: refresh README for releases, tutorial, 3D glider and new menus
  README.md
  docs/media/glider-life5766.gif
  docs/media/menu-inventory.png
  docs/media/menu-pause.png
  docs/media/menu-settings.png
  docs/media/sandbox-build.gif
  docs/media/tutorial-survive-birth.png
  scripts/readme-media/capture_3d.py
Due: check-docs-sync

feat: add a glider stamp and Z/C stamp tilt
  shaders/life3d_screen.frag
  src/main_minimal.cpp
Due: validate-shaders, check-copyright

feat: let the pattern finder search any S/B rule
  prototype/tools/find_patterns.cpp
Due: check-copyright

docs: document the glider stamp and tilt, recapture screenshots
  README.md
  docs/PROTOTYPE.md
  docs/media/glider-climb.gif
  docs/media/menu-inventory.png
  docs/media/menu-pause.png
  docs/media/menu-settings.png
  docs/media/sandbox-build.gif
  docs/media/tutorial-survive-birth.png
  scripts/readme-media/capture_3d.py
Due: check-docs-sync

feat: bit-sliced chunk engine, tick governor, Vulkan 1.3 and materials
  .github/workflows/release.yml
  include/BitLife.h
  include/CellTypes.h
  include/ChunkMap.h
  include/DeviceManager.h
  include/GpuContext.h
  include/Life3DRules.h
  include/Logger.h
  include/QueueFamilyIndices.h
  include/SwapChainSupportDetails.h
  include/VulkanContext.h
  include/VulkanError.h
  include/WindowManager.h
  include/engine/vulkan/resources/ShaderManager.h
  include/pch.h
  prototype/CMakeLists.txt
  prototype/life3d_bits_test.cpp
  scripts/readme-media/capture_3d.py
  shaders/life3d_bits.glsl
  shaders/life3d_blocks.vert
  shaders/life3d_boxes.vert
  shaders/life3d_build.comp
  shaders/life3d_chunks.comp
  shaders/life3d_frame.glsl
  shaders/life3d_screen.frag
  shaders/life3d_step.comp
  shaders/life3d_storage.glsl
  shaders/life3d_world.frag
  shaders/life3d_world.vert
  src/DeviceManager.cpp
  src/GpuContext.cpp
  src/Logger.cpp
  src/VulkanContext.cpp
  src/WindowManager.cpp
  src/engine/vulkan/resources/ShaderManager.cpp
  src/main_minimal.cpp
  src/tutorial/Tutorial.cpp
Due: check-todos, validate-shaders, check-cmake-practices, check-copyright, check-vulkan-patterns

docs: document speed controls, materials and the new engine; recapture media
  README.md
  docs/PROTOTYPE.md
  docs/media/glider-climb.gif
  docs/media/glider-life5766.gif
  docs/media/hero-life5766.gif
  docs/media/massive-world.png
  docs/media/menu-inventory.png
  docs/media/menu-pause.png
  docs/media/menu-settings.png
  docs/media/rules-compared.gif
  docs/media/sandbox-build.gif
  docs/media/stone-box.gif
  docs/media/tutorial-survive-birth.png
Due: check-docs-sync

build: one GOL3D_ prefix for CMake variables
  CMakeLists.txt
Due: check-cmake-practices

refactor(game-core): readability pass
  src/game/Game.cpp
  src/game/Game.h
  src/game/GameChecks.cpp
  src/game/GameHud.cpp
  src/game/GameSimulation.cpp
Due: check-todos, check-copyright

refactor(game-ui): readability pass
  src/game/GameInput.cpp
  src/game/GameMenus.cpp
  src/ui/Theme.cpp
  src/ui/Theme.h
  src/ui/Widgets.cpp
  src/ui/Widgets.h
Due: check-todos, check-copyright

refactor(platform): readability pass
  src/gpu/Barriers.h
  src/gpu/Descriptors.h
  src/gpu/GpuBuffer.cpp
  src/gpu/GpuBuffer.h
  src/gpu/GpuContext.cpp
  src/gpu/GpuContext.h
  src/gpu/ImmediateCommands.cpp
  src/gpu/ImmediateCommands.h
  src/gpu/ShaderModule.cpp
  src/gpu/ShaderModule.h
  src/gpu/Swapchain.cpp
  src/gpu/Swapchain.h
  src/gpu/VulkanLoader.cpp
  src/gpu/VulkanLoader.h
  src/platform/Paths.cpp
  src/update/Sha256.cpp
  src/update/Sha256.h
  src/update/Updater.cpp
  src/update/Updater.h
  src/util/Png.cpp
Due: check-todos, check-copyright, check-vulkan-patterns

refactor(shaders-render): readability pass
  shaders/life3d_bits.glsl
  shaders/life3d_blocks.vert
  shaders/life3d_boxes.vert
  shaders/life3d_build.comp
  shaders/life3d_frame.glsl
  shaders/life3d_instances.glsl
  shaders/life3d_screen.frag
  shaders/life3d_screen.vert
  shaders/life3d_step.comp
  shaders/life3d_storage.glsl
  shaders/life3d_world.frag
  src/render/Renderer.cpp
  src/render/Renderer.h
Due: check-todos, validate-shaders, check-copyright

refactor(world-life): readability pass
  src/life/BitLife.h
  src/life/CellTypes.h
  src/life/LifeRules.h
  src/life/Patterns.h
  src/world/BlockInstances.h
  src/world/ChunkLayout.h
  src/world/ChunkMap.h
  src/world/ChunkWorld.cpp
  src/world/ChunkWorld.h
  src/world/PassCosts.h
  src/world/SaveFile.cpp
  src/world/SaveFile.h
  src/world/SimulationPasses.cpp
  src/world/SimulationPasses.h
Due: check-todos, check-copyright

refactor: apply the reviewers' cross-file suggestions
  docs/ARCHITECTURE.md
  shaders/life3d_build.comp
  shaders/life3d_screen.frag
  shaders/life3d_storage.glsl
  src/game/Game.h
  src/game/GameInput.cpp
  src/game/GameMenus.cpp
  src/life/CellTypes.h
  src/world/SimulationPasses.cpp
Due: check-todos, validate-shaders, check-copyright, check-docs-sync

refactor(game-support): readability pass
  src/game/CommandLine.cpp
  src/game/CommandLine.h
  src/game/Player.cpp
  src/game/Player.h
  src/game/Settings.cpp
  src/game/Settings.h
  src/game/Stamps.cpp
  src/game/Stamps.h
  src/game/TickGovernor.cpp
  src/tutorial/Tutorial.cpp
  src/tutorial/Tutorial.h
  src/tutorial/TutorialLessons.cpp
  src/tutorial/TutorialLessons.h
  tests/BitLifeTest.cpp
  tests/LifeRulesTest.cpp
  tests/PatternsTest.cpp
  tests/PlayerTest.cpp
  tests/SaveFileTest.cpp
  tests/SettingsTest.cpp
  tests/StampsTest.cpp
  tests/TickGovernorTest.cpp
  tools/FindPatterns.cpp
Due: check-todos, check-copyright

refactor: name the automatic GUI scale and brace the Skip 1,000 button
  src/game/GameMenus.cpp
Due: check-copyright

feat: keep frames smooth past 83M cells; add Conway 2D and Conway Crossed rules
  README.md
  docs/ARCHITECTURE.md
  docs/PROTOTYPE.md
  shaders/life3d_bits.glsl
  shaders/life3d_build.comp
  shaders/life3d_step.comp
  src/game/Game.cpp
  src/game/Game.h
  src/game/GameMenus.cpp
  src/game/GameSimulation.cpp
  src/game/Stamps.cpp
  src/game/Stamps.h
  src/game/TickGovernor.cpp
  src/game/TickGovernor.h
  src/gpu/GpuBuffer.cpp
  src/gpu/GpuBuffer.h
  src/gpu/ImmediateCommands.cpp
  src/gpu/ImmediateCommands.h
  src/life/BitLife.h
  src/life/LifeRules.h
  src/life/Patterns.h
  src/render/Renderer.cpp
  src/render/Renderer.h
  src/world/ChunkWorld.cpp
  src/world/ChunkWorld.h
  src/world/PassCosts.h
  src/world/SimulationPasses.cpp
  src/world/SimulationPasses.h
  tests/LifeRulesTest.cpp
  tests/PatternsTest.cpp
  tests/StampsTest.cpp
  tests/TickGovernorTest.cpp
Due: check-todos, validate-shaders, check-copyright, check-docs-sync

ci: move actions to their Node 24 majors
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  check-todos: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and \.(c|h)$ and not (^(tests/|examples/))
  validate-shaders: any of: \.(vert|frag|comp|geom|tesc|tese|glsl)$
  check-include-guards: any of: \.hpp$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  check-cmake-practices: any of: CMakeLists\.txt$|\.cmake$
  check-copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^(tests/|examples/|third_party/)
  validate-vcpkg: any of: vcpkg\.json$
  check-vulkan-patterns: any of: (vulkan|Vulkan) and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  check-docs-sync: any of: (README\.md|docs/.*\.md)$
