Repository CameronWeller/3DGameOfLife-Vulkan-Edition: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, validate-shaders, check-include-guards, check-cmake-practices, check-copyright, validate-vcpkg, check-vulkan-patterns, check-docs-sync

check-todos:
  name: Check for TODO/FIXME comments
  entry: scripts/pre-commit/check-todos.sh
  language: script

validate-shaders:
  name: Validate GLSL shaders
  entry: scripts/pre-commit/validate-shaders.sh
  language: script
  pass_filenames: true

check-include-guards:
  name: Check C++ include guards
  entry: scripts/pre-commit/check-include-guards.sh
  language: script

check-cmake-practices:
  name: Check CMake best practices
  entry: scripts/pre-commit/check-cmake.sh
  language: script

check-copyright:
  name: Check copyright headers
  entry: scripts/pre-commit/check-copyright.sh
  language: script

validate-vcpkg:
  name: Validate vcpkg.json
  entry: scripts/pre-commit/validate-vcpkg.sh
  language: script

check-vulkan-patterns:
  name: Check Vulkan API patterns
  entry: scripts/pre-commit/check-vulkan-patterns.sh
  language: script

check-docs-sync:
  name: Check documentation sync
  entry: scripts/pre-commit/check-docs-sync.sh
  language: script

fix(nix): correct dependencies in flake.nix
  nixos-wsl/README.md
  nixos-wsl/SETUP_SUMMARY.md
  nixos-wsl/build-in-wsl.sh
  nixos-wsl/default.nix
  nixos-wsl/flake.lock
  nixos-wsl/flake.nix
  nixos-wsl/hardware-configuration.nix
  nixos-wsl/packages/3d-game-of-life-vulkan.nix
  nixos-wsl/packages/vulkan-build-tools.nix
  nixos-wsl/packages/vulkan-dev-env.nix
  nixos-wsl/setup-nix-dev.ps1
  nixos-wsl/setup-nix-simple.ps1
  nixos-wsl/setup-wsl-ubuntu.ps1
  nixos-wsl/setup-wsl.ps1
  nixos-wsl/shell.nix
  nixos-wsl/wsl-configuration.nix
Due: check-docs-sync

fix(nix): update flake.nix to enhance dependency management and streamline function usage
  PROJECT_GOALS_REALIGNMENT_PLAN.md
  REALIGNMENT_PLAN_SUMMARY.md
  docs/AGENT_WORKLOAD_MAPPING.md
  docs/DEVELOPMENT_PHASES.md
  docs/REALIGNMENT_PLAN_GUIDE.md
  docs/ROADBLOCK_ANALYSIS.md
  scripts/generate_implementation_plan.py
  scripts/process_questionnaire_responses.py
Due: check-docs-sync

test: Add E2E play test framework for beta build
  tests/e2e/playtest_beta.cpp
Due: none

docs: Add comprehensive play testing guide
  docs/playtesting.md
Due: check-docs-sync

build: Integrate E2E play test into CMake build system
  CMakeLists.txt
Due: check-cmake-practices

ci: Add smoke test and beta build CI workflow
  .github/workflows/beta-build.yml
  tests/smoke_test_beta.cpp
Due: none

docs: Update CHANGELOG with E2E play testing additions
  CHANGELOG.md
Due: none

docs: Add work history documentation for E2E play testing setup
  docs/WORK_HISTORY.md
Due: check-docs-sync

docs: Update work history with actual commit hashes
  docs/WORK_HISTORY.md
Due: check-docs-sync

fix: Link shader compilation outputs to executable target
  CMakeLists_minimal.txt
Due: none

fix: Correct ShaderManager include path in main_minimal.cpp
  src/main_minimal.cpp
Due: check-copyright

fix: Move target_precompile_headers after apply_common_settings
  CMakeLists.txt
  cmake/modules/Components.cmake
Due: check-cmake-practices

fix: Build test targets before running ctest in CI workflow
  .github/workflows/beta-build.yml
Due: none

fix: Install all dependencies from vcpkg.json in CI workflow
  .github/workflows/beta-build.yml
Due: none

fix: Implement missing VulkanCompute methods and fix UI includes
  include/UI.h
  include/VulkanEngine.h
  include/engine/opengl/OpenGLRenderer.h
  include/engine/vulkan/compute/VulkanCompute.h
  src/UI.cpp
  src/VulkanEngine.cpp
  src/engine/opengl/OpenGLRenderer.cpp
  src/engine/vulkan/compute/VulkanCompute.cpp
Due: check-todos, check-copyright, check-vulkan-patterns

docs: Update work history and changelog with beta stabilization progress
  CHANGELOG.md
  docs/WORK_HISTORY.md
Due: check-docs-sync

refactor: Break monolithic dependency with IEngine interface and cache values
  include/IEngine.h
  include/UI.h
  include/VulkanEngine.h
  src/UI.cpp
  src/VulkanEngine.cpp
Due: check-todos, check-copyright, check-vulkan-patterns

Revert "refactor: Break monolithic dependency with IEngine interface and cache values"
  include/IEngine.h
  include/UI.h
  include/VulkanEngine.h
  src/UI.cpp
  src/VulkanEngine.cpp
Due: check-todos, check-copyright, check-vulkan-patterns

Revert "fix(nix): update flake.nix to enhance dependency management and streamline function usage"
  PROJECT_GOALS_REALIGNMENT_PLAN.md
  REALIGNMENT_PLAN_SUMMARY.md
  docs/AGENT_WORKLOAD_MAPPING.md
  docs/DEVELOPMENT_PHASES.md
  docs/REALIGNMENT_PLAN_GUIDE.md
  docs/ROADBLOCK_ANALYSIS.md
  scripts/generate_implementation_plan.py
  scripts/process_questionnaire_responses.py
Due: check-docs-sync

fix: correct ShaderManager path in CMake files and remove NixOS files
  CMakeLists_simple.txt
  CMakeLists_working.txt
  NIX_SETUP.md
  flake.nix
  nixos-wsl/README.md
  nixos-wsl/SETUP_SUMMARY.md
  nixos-wsl/build-in-wsl.sh
  nixos-wsl/default.nix
  nixos-wsl/flake.lock
  nixos-wsl/flake.nix
  nixos-wsl/hardware-configuration.nix
  nixos-wsl/packages/3d-game-of-life-vulkan.nix
  nixos-wsl/packages/vulkan-build-tools.nix
  nixos-wsl/packages/vulkan-dev-env.nix
  nixos-wsl/setup-nix-dev.ps1
  nixos-wsl/setup-nix-simple.ps1
  nixos-wsl/setup-wsl-ubuntu.ps1
  nixos-wsl/setup-wsl.ps1
  nixos-wsl/shell.nix
  nixos-wsl/wsl-configuration.nix
  nixos/configuration.nix
  nixos/hardware-configuration.nix
Due: check-docs-sync

feat: isolate opengl beta path
  .gitignore
  docs/opengl_beta_isolation_2026-05-04.md
  include/Logger.h
  opengl-engine/CMakeLists.txt
  opengl-engine/include/opengl/Grid3D.h
  opengl-engine/include/opengl/rendering/OpenGLRenderer.h
  opengl-engine/src/main_opengl.cpp
  opengl-engine/src/opengl/Grid3D.cpp
  opengl-engine/src/opengl/OpenGLContext.cpp
  opengl-engine/src/opengl/OpenGLWindowManager.cpp
  opengl-engine/src/opengl/diagnostics/OpenGLDebugCallback.cpp
  opengl-engine/src/opengl/rendering/OpenGLVoxelRenderer.cpp
  opengl-engine/src/opengl/ui/OpenGLImGui.cpp
  src/PatternManager.cpp
Due: check-todos, check-cmake-practices, check-copyright, check-docs-sync

ci: replace unavailable vcpkg action
  .github/workflows/opengl-engine.yml
Due: none

ci: avoid unmapped submodule checkout
  .github/workflows/opengl-engine.yml
Due: none

ci: install OpenGL runner dependencies
  .github/workflows/opengl-engine.yml
Due: none

fix sparse grid boundary updates and rule lookup lifetime
  .github/workflows/sparse-grid.yml
  CMakeLists.txt
  include/GameRules.h
  include/SparseGrid3D.h
  src/SparseGrid3D.cpp
  tests/SparseGrid3DStandaloneTest.cpp
  tests/standalone/CMakeLists.txt
Due: check-todos, check-cmake-practices, check-copyright

Add a playable Minecraft-style 3D Life prototype
  CMakeLists.txt
  CMakeLists_minimal.txt
  README.md
  docs/PROTOTYPE.md
  include/Life3DRules.h
  include/Logger.h
  packaging/icons/gol3d.icns
  packaging/icons/gol3d.ico
  packaging/icons/gol3d.png
  packaging/linux/gol3d.desktop
  packaging/windows/gol3d.rc
  prototype/CMakeLists.txt
  prototype/life3d_rules_test.cpp
  shaders/life3d_chunks.comp
  shaders/life3d_frame.glsl
  shaders/life3d_screen.frag
  shaders/life3d_screen.vert
  shaders/life3d_world.frag
  shaders/life3d_world.vert
  src/VulkanContext.cpp
  src/main_minimal.cpp
Due: check-todos, validate-shaders, check-cmake-practices, check-copyright, check-vulkan-patterns, check-docs-sync

Rotate stamps with Q/E and publish releases from main
  .github/workflows/release.yml
  docs/PROTOTYPE.md
  packaging/arch/PKGBUILD
  src/main_minimal.cpp
Due: check-copyright, check-docs-sync

Check GitHub releases for updates and install them where possible
  docs/PROTOTYPE.md
  include/Updater.h
  prototype/CMakeLists.txt
  prototype/updater_test.cpp
  src/Updater.cpp
  src/main_minimal.cpp
Due: check-todos, check-cmake-practices, check-copyright, check-docs-sync

Build SPIR-V on Ubuntu 24.04 and reuse it on every platform
  .github/workflows/release.yml
  prototype/CMakeLists.txt
Due: check-cmake-practices

Build without OpenGL headers and raise the toast above menu titles
  prototype/CMakeLists.txt
  src/main_minimal.cpp
Due: check-cmake-practices, check-copyright

Add an in-game rules tutorial to the prototype
  docs/PROTOTYPE.md
  include/Life3DPatterns.h
  prototype/CMakeLists.txt
  prototype/life3d_patterns_test.cpp
  prototype/tools/find_patterns.cpp
  shaders/life3d_world.vert
  src/main_minimal.cpp
  src/tutorial/Tutorial.cpp
  src/tutorial/Tutorial.h
  src/tutorial/TutorialLessons.cpp
  src/tutorial/TutorialLessons.h
Due: check-todos, validate-shaders, check-cmake-practices, check-copyright, check-docs-sync

Path conditions:
  check-todos: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and \.(c|h)$ and not (^(tests/|examples/))
  validate-shaders: any of: \.(vert|frag|comp|geom|tesc|tese|glsl)$
  check-include-guards: any of: \.hpp$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  check-cmake-practices: any of: CMakeLists\.txt$|\.cmake$
  check-copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^(tests/|examples/|third_party/)
  validate-vcpkg: any of: vcpkg\.json$
  check-vulkan-patterns: any of: (vulkan|Vulkan) and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  check-docs-sync: any of: (README\.md|docs/.*\.md)$
