Repository CameronWeller/3DGameOfLife-Vulkan-Edition: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, validate-shaders, check-include-guards, check-cmake-practices, check-copyright, validate-vcpkg, check-vulkan-patterns, check-docs-sync

check-todos:
  name: Check for TODO/FIXME comments
  entry: scripts/pre-commit/check-todos.sh
  language: script

validate-shaders:
  name: Validate GLSL shaders
  entry: scripts/pre-commit/validate-shaders.sh
  language: script
  pass_filenames: true

check-include-guards:
  name: Check C++ include guards
  entry: scripts/pre-commit/check-include-guards.sh
  language: script

check-cmake-practices:
  name: Check CMake best practices
  entry: scripts/pre-commit/check-cmake.sh
  language: script

check-copyright:
  name: Check copyright headers
  entry: scripts/pre-commit/check-copyright.sh
  language: script

validate-vcpkg:
  name: Validate vcpkg.json
  entry: scripts/pre-commit/validate-vcpkg.sh
  language: script

check-vulkan-patterns:
  name: Check Vulkan API patterns
  entry: scripts/pre-commit/check-vulkan-patterns.sh
  language: script

check-docs-sync:
  name: Check documentation sync
  entry: scripts/pre-commit/check-docs-sync.sh
  language: script

Clean up repository: Remove user-metrics-tracker and restore proper 3D Game of Life README
  README.md
  scripts/setup-hooks.ps1
  scripts/setup-hooks.sh
  src/main_minimal.cpp
Due: check-copyright, check-docs-sync

Final cleanup: Remove remaining user-metrics-tracker references and update LICENSE
  LICENSE
Due: none

Complete separation cleanup: Remove agent coordination files and add code quality docs
  AGENT_ASSIGNMENTS.md
  agent_swap.json
  docs/CODE_QUALITY_SUMMARY.md
  src/main_minimal.cpp
Due: check-copyright, check-docs-sync

Clean up 3D Game of Life project: Remove user-metrics-tracker contamination, update project files, gitignore, LICENSE, README, and add build scripts
  .gitignore
  LICENSE
  README.md
  include/Camera.h
  package.json
  run_minimal.bat
  src/VulkanContext.cpp
  src/main_minimal.cpp
Due: check-todos, check-copyright, check-vulkan-patterns, check-docs-sync

feat: add setup scripts for pre-commit hooks in PowerShell and Bash
  src/main_minimal.cpp
Due: check-copyright

docs: update README and enhance Vulkan engine with improved error handling and synchronization
  CLEANUP_STATUS.md
  README.md
  scripts/verify_fixes.ps1
  src/main_minimal.cpp
  tests/unit/VulkanEngineTest.cpp
  tests/vulkan_performance/ShaderPerformanceTest.cpp
Due: check-copyright, check-vulkan-patterns, check-docs-sync

feat(vulkan): enhance VulkanMemoryManager with modern VMA features
  include/VulkanMemoryManager.h
  src/VulkanMemoryManager.cpp
Due: check-todos, check-copyright, check-vulkan-patterns

docs: update VMA integration documentation and enhance Vulkan buffer management
  AGENT_ORCHESTRATOR_SYSTEM.md
  VMA_IMPROVEMENTS_CATALOG.md
  docs/VMA_INTEGRATION.md
  docs/VMA_MODERNIZATION.md
  src/VulkanMemoryManager.cpp
  src/vulkan/resources/VulkanBufferManager.cpp
Due: check-copyright, check-vulkan-patterns, check-docs-sync

feat: Implement orchestrator-worker architecture with VMA modernization sprint
  ROADMAP.md
  TASK_BOARD.json
Due: none

docs: add comprehensive Project Transformation Summary detailing VMA improvements, orchestrator-worker architecture, and task management system
  PROJECT_TRANSFORMATION_SUMMARY.md
Due: none

refactor: modernize VMA usage in Grid3D and VoxelRenderer for improved memory management
  src/Grid3D.cpp
  src/vulkan/rendering/VoxelRenderer.cpp
  tests/MemoryTest.cpp
Due: check-copyright, check-vulkan-patterns

feat: modernize VMA memory usage patterns to VMA 3.3.0 standards - COMPLETED T-2024-12-07-001
  src/Grid3D.cpp
Due: check-copyright

vibe code work. ridiculous.
  docs/VISUAL_FEEDBACK_TRAINING.md
  include/VisualFeedbackTrainingLoop.h
  include/ml/MLComponent.h
  include/ml/data/Dataset.h
  include/ml/training/TrainingConfig.h
  include/ml/training/TrainingMetrics.h
  src/VisualFeedbackTrainingLoop.cpp
  src/ml/CMakeLists.txt
Due: check-todos, check-cmake-practices, check-copyright, check-docs-sync

chore: update CMake configuration for vcpkg integration and modify task board for completed VMA improvements
  CMakeLists.txt
  COMPREHENSIVE_REFINEMENT_PLAN.md
  TASK_BOARD.json
  cmake/modules/Dependencies.cmake
  include/AppState.h
  test_glfw.cmake
Due: check-todos, check-cmake-practices, check-copyright

chore: update submodule reference for vcpkg and refactor RuleSet management in Grid3D and PatternManager
  include/Grid3D.h
  include/PatternManager.h
Due: check-todos, check-copyright

refactor: update CMake configuration to use modern Vulkan target linking
  CMakeLists.txt
  cmake/modules/Components.cmake
Due: check-cmake-practices

feat: enhance Pattern structure and loading mechanism with boundary type support
  include/PatternManager.h
  src/PatternManager.cpp
Due: check-todos, check-copyright

feat: update task board and enhance Vulkan memory management with advanced allocation strategies
  TASK_BOARD.json
  docs/VMA_USAGE_GUIDE.md
  include/Grid3D.h
  include/PatternManager.h
  include/VulkanEngine.h
  src/Grid3D.cpp
  src/PatternManager.cpp
  src/VulkanEngine.cpp
  src/VulkanMemoryManager.cpp
Due: check-todos, check-copyright, check-vulkan-patterns, check-docs-sync

feat: finalize 3D Game of Life implementation and enhance Grid3D rule management
  TASK_BOARD.json
  src/Grid3D.cpp
  src/VulkanMemoryManager.cpp
Due: check-copyright, check-vulkan-patterns

good luck overnight optimization
  include/ml/models/Model.h
Due: check-todos, check-copyright

Path conditions:
  check-todos: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and \.(c|h)$ and not (^(tests/|examples/))
  validate-shaders: any of: \.(vert|frag|comp|geom|tesc|tese|glsl)$
  check-include-guards: any of: \.hpp$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  check-cmake-practices: any of: CMakeLists\.txt$|\.cmake$
  check-copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^(tests/|examples/|third_party/)
  validate-vcpkg: any of: vcpkg\.json$
  check-vulkan-patterns: any of: (vulkan|Vulkan) and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  check-docs-sync: any of: (README\.md|docs/.*\.md)$
