Repository CameronWeller/3DGameOfLife-Vulkan-Edition: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, validate-shaders, check-include-guards, check-cmake-practices, check-copyright, validate-vcpkg, check-vulkan-patterns, check-docs-sync

Path conditions:
  check-todos: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and \.(c|h)$ and not (^(tests/|examples/))
  validate-shaders: any of: \.(vert|frag|comp|geom|tesc|tese|glsl)$
  check-include-guards: any of: \.hpp$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  check-cmake-practices: any of: CMakeLists\.txt$|\.cmake$
  check-copyright: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^(tests/|examples/|third_party/)
  validate-vcpkg: any of: vcpkg\.json$
  check-vulkan-patterns: any of: (vulkan|Vulkan) and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  check-docs-sync: any of: (README\.md|docs/.*\.md)$

chore: update task board with current progress and fixes
  TASK_BOARD.json
Due: none

Merge branch 'main' of https://github.com/CameronWeller/3DGameOfLife-Vulkan-Edition
  ARCHITECTURE_CHANGES.md
  CMakeLists.txt
  build_test/ALL_BUILD.vcxproj
  build_test/UXMirrorPrototype.sln
  build_test/UXMirrorPrototype.vcxproj
  build_test/UXMirrorPrototype_lib.vcxproj
  build_test/UXMirrorPrototype_minimal.vcxproj
  build_test/ZERO_CHECK.vcxproj
  build_test/camera.vcxproj
  build_test/core_engine.vcxproj
  build_test/game_logic.vcxproj
  build_test/memory_management.vcxproj
  build_test/minimal_overnight_optimizer.vcxproj
  build_test/rendering.vcxproj
  build_test/run_prototype.vcxproj
  build_test/ui.vcxproj
  build_test/utilities.vcxproj
  build_test/ux_mirror_prototype.vcxproj
  build_test/vulkan_compute.vcxproj
  build_test/vulkan_image.vcxproj
  build_test/vulkan_rendering.vcxproj
  build_test/vulkan_resources.vcxproj
  build_test/vulkan_ui.vcxproj
  include/CPUCellularAutomata.hpp
  include/HIPCellularAutomata.hpp
  include/SharedMemoryInterface.hpp
  optimization_log_20250610_140708.txt
  optimization_log_20250610_140714.txt
  optimization_log_20250610_140728.txt
  optimization_log_20250610_140902.txt
  optimization_log_20250610_140907.txt
  src/CPUCellularAutomata.cpp
  src/HIPCellularAutomata.cpp
  src/HIPCellularAutomata_stub.cpp
  src/SharedMemoryInterface.cpp
  src/UXMirrorLauncher.cpp
Due: check-include-guards, check-cmake-practices, check-copyright

idk good luck future me.
  CMakeLists.txt
  build_minimal/ALL_BUILD.vcxproj
  build_minimal/ALL_BUILD.vcxproj.filters
  build_minimal/ZERO_CHECK.vcxproj
  build_minimal/ZERO_CHECK.vcxproj.filters
  build_minimal/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
  build_minimal/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
  build_minimal/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
  build_minimal/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
  build_minimal/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
Due: check-cmake-practices

chore: complete merge and update submodules
  include/Grid3D.h
  include/vulkan/rendering/VoxelRenderer.h
  src/Grid3D.cpp
  src/vulkan/rendering/VoxelRenderer.cpp
Due: check-todos, check-copyright, check-vulkan-patterns

fix: implement compute shader loading using ShaderManager
  src/Grid3D.cpp
Due: check-copyright

fix: properly track VMA allocations as member variables to prevent memory leaks
  include/Grid3D.h
  src/Grid3D.cpp
Due: check-todos, check-copyright

feat: implement push constants rule set mapping for GPU compute shaders
  src/Grid3D.cpp
Due: check-copyright

feat: integrate Grid3D with main application - create functional 3D Game of Life prototype
  src/main.cpp
Due: check-copyright

docs: update task board - all functional prototype barriers addressed and completed
  TASK_BOARD.json
Due: none

fix: use VulkanHIP::Grid3D explicitly in RuleAnalyzer and related headers, remove ambiguous namespace usage
  src/RuleAnalyzer.cpp
Due: check-copyright

fix: use VulkanHIP::CameraMode explicitly in UI, main_minimal, and Camera files to resolve namespace issues
  src/Camera.cpp
  src/UI.cpp
  src/main_minimal.cpp
Due: check-copyright

fix: correct VulkanMemoryManager function signatures in VoxelRenderer - use createHostVisibleBuffer and mapMemory/unmapMemory
  src/vulkan/rendering/VoxelRenderer.cpp
Due: check-copyright, check-vulkan-patterns

fix: remove duplicate struct definitions - UniformBufferObject and SwapChainSupportDetails
  include/VulkanEngine.h
  include/vulkan/rendering/VoxelRenderer.h
Due: check-todos, check-copyright, check-vulkan-patterns

fix: add missing Grid3D.h include in main.cpp
  src/main.cpp
Due: check-copyright

fix: restore correct CMakeLists.txt for main 3D Game of Life project
  CMakeLists.txt
Due: check-cmake-practices

fix: resolve circular dependency between Grid3D.h and PatternManager.h using forward declarations
  include/Grid3D.h
  include/PatternManager.h
  src/RuleAnalyzer.cpp
Due: check-todos, check-copyright

fix: add missing includes and replace disabled memory manager calls with VulkanContext methods
  src/vulkan/rendering/VoxelRenderer.cpp
  src/vulkan/ui/VulkanImGui.cpp
Due: check-copyright, check-vulkan-patterns

fix: resolve std::vector<bool> data() issue and const map access problems
  include/vulkan/rendering/VoxelRenderer.h
  src/PatternManager.cpp
  src/RuleAnalyzer.cpp
Due: check-todos, check-copyright, check-vulkan-patterns

fix: add missing ShaderManager.h include to resolve incomplete type error
  include/VulkanEngine.h
Due: check-todos, check-copyright, check-vulkan-patterns

fix: remove missing VulkanFramebuffer.h and correct PatternManager::Pattern constructor argument type
  include/VulkanEngine.h
  src/PatternManager.cpp
Due: check-todos, check-copyright, check-vulkan-patterns

fix: add missing closing brace for namespace in RuleAnalyzer.cpp
  src/RuleAnalyzer.cpp
Due: check-copyright
